@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@layer components {
  /* logoImg */
  .sizeDesktopImgLogo {
    @apply w-[53px] h-[53px];
  }

  .sizeTabletImgLogo {
    @apply tablet:w-[37.69px] tablet:h-[37.69px];
  }

  .sizeMobileImgLogo {
    @apply mobile:relative right-[40%];
  }

  /* btnWallet */
  .sizeDesktopBtnSpanWallet {
    @apply font-inter font-semibold w-[151px] h-[25px] leading-[24.26px] text-[16.17px];
  }

  .sizeTabletBtnSpanWallet {
    @apply font-inter font-semibold  tablet:w-[108px] tablet:h-[18px] flex justify-center items-center	 tablet:text-[10.5px]  tablet:leading-[17.25px];
  }

  .sizeMobileBtnSpanWallet {
    @apply font-inter font-semibold  mobile:w-[213px] mobile:h-[18px] flex justify-center items-center	 mobile:text-[16px]  mobile:leading-[17.25px];
  }

  .sizeDesktopBtnWallet {
    @apply w-[199.52px] h-[57.34px] rounded-[16.17px];
  }

  .sizeTabletBtnWallet {
    @apply tablet:w-[148px] tablet:h-[41px]  tablet:rounded-[11.5px];
  }

  .sizeMobileBtnWallet {
    @apply font-inter font-semibold mobile:mt-2 mobile:w-[76%] mobile:flex mobile:justify-center mobile:items-center;
  }

  /* search loupe */
  .sizeDesktopLoupeImg {
    @apply left-9 w-[21.51px] h-[21.51px] top-4;
  }

  .sizeTabletLoupeImg {
    @apply tablet:left-3 tablet:w-[15.3px] tablet:h-[15.3px] tablet:top-3;
  }

  .sizeMobileLoupeImg {
    @apply mobile:left-[1.40rem] mobile:w-[15.3px] mobile:h-[15.3px] mobile:top-[1.30rem];
  }

  /* search input */
  .sizeDesktopSearchInput {
    @apply bg-[#EDEDED] left-11 leading-[18.46px]  pl-[4rem] w-[348.45px] h-[57px] rounded-lg   font-medium text-[15.71px];
  }

  .sizeTabletSearchInput {
    @apply tablet:leading-[13.13px] tablet:pl-[2.3rem] tablet:w-[247.81px] tablet:h-[40.54px] tablet:rounded-lg   tablet:font-medium tablet:text-[10.17px];
  }

  .sizeMobileSearchInput {
    @apply mobile:left-[-7px] mobile:pl-[3.5rem] mobile:w-full;
  }

  /* navList */
  .sizeDesktopNavItem {
    @apply font-medium text-[17.83px]	leading-[26.74px];
  }

  .sizeTabletNavItem {
    @apply tablet:font-medium tablet:text-[12.68px]	tablet:leading-[19.02px];
  }

  .sizeMobileNavItem {
    @apply tablet:font-medium mobile:mt-2 mobile:mb-2;
  }
}

@tailwind utilities;

@layer utilities {
  .shadow-cardTrend {
    --shadow-x: 38.82px;
    --shadow-y: 11.76px;
    --shadow-blur: 58.81px;
    --shadow-spread: 0px;
    --shadow-color: #c7c7c7;
    --shadow-opacity: 0.6;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(199, 199, 199, var(--shadow-opacity)));
  }
  .shadow-switchBtn {
    --shadow-x: 0px;
    --shadow-y: 43.12px;
    --shadow-blur: 34.49px;
    --shadow-spread: -25.87px;
    --shadow-color: #0f0f0f;
    --shadow-opacity: 0.12;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(15, 15, 15, var(--shadow-opacity)));
  }
  .shadow-cardTime {
    --shadow-x: 0px;
    --shadow-y: 4.71px;
    --shadow-blur: 14.12px;
    --shadow-spread: 0px;
    --shadow-color: #1c1d20;
    --shadow-opacity: 0.08;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(28, 29, 32, var(--shadow-opacity)));
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
