@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@layer components {
  /* logoImg */
  .sizeDesktopImgLogo {
    @apply w-[53px] h-[53px];
  }

  .sizeTabletImgLogo {
    @apply tablet:w-[37.69px] tablet:h-[37.69px];
  }

  .sizeMobileImgLogo {
    @apply mobile:relative right-[40%];
  }

  /* btnWallet */
  .sizeDesktopBtnSpanWallet {
    @apply font-inter font-semibold w-[151px] h-[25px] leading-[24.26px] text-[16.17px];
  }

  .sizeTabletBtnSpanWallet {
    @apply font-inter font-semibold  tablet:w-[108px] tablet:h-[18px] flex justify-center items-center	 tablet:text-[10.5px]  tablet:leading-[17.25px];
  }

  .sizeMobileBtnSpanWallet {
    @apply font-inter font-semibold  mobile:w-[213px] mobile:h-[18px] flex justify-center items-center	 mobile:text-[16px]  mobile:leading-[17.25px];
  }

  .sizeDesktopBtnWallet {
    @apply w-[199.52px] h-[57.34px] rounded-[16.17px];
  }

  .sizeTabletBtnWallet {
    @apply tablet:w-[148px] tablet:h-[41px]  tablet:rounded-[11.5px];
  }

  .sizeMobileBtnWallet {
    @apply font-inter font-semibold mobile:mt-2 mobile:w-[76%] mobile:flex mobile:justify-center mobile:items-center;
  }

  /* search loupe */
  .sizeDesktopLoupeImg {
    @apply left-9 w-[21.51px] h-[21.51px] top-4;
  }

  .sizeTabletLoupeImg {
    @apply tablet:left-3 tablet:w-[15.3px] tablet:h-[15.3px] tablet:top-3;
  }

  .sizeMobileLoupeImg {
    @apply mobile:left-[1.40rem] mobile:w-[15.3px] mobile:h-[15.3px] mobile:top-[1.30rem];
  }

  /* search input */
  .sizeDesktopSearchInput {
    @apply bg-[#EDEDED] left-11 leading-[18.46px]  pl-[4rem] w-[348.45px] h-[57px] rounded-lg   font-medium text-[15.71px];
  }

  .sizeTabletSearchInput {
    @apply tablet:leading-[13.13px] tablet:pl-[2.3rem] tablet:w-[247.81px] tablet:h-[40.54px] tablet:rounded-lg   tablet:font-medium tablet:text-[10.17px];
  }

  .sizeMobileSearchInput {
    @apply mobile:left-[-7px] mobile:pl-[3.5rem] mobile:w-full;
  }

  /* navList */
  .sizeDesktopNavItem {
    @apply font-medium text-[17.83px]	leading-[26.74px];
  }

  .sizeTabletNavItem {
    @apply tablet:font-medium tablet:text-[12.68px]	tablet:leading-[19.02px];
  }

  .sizeMobileNavItem {
    @apply tablet:font-medium mobile:mt-2 mobile:mb-2;
  }
  /* Size for HR */
  .sizeLaptopHr {
    @apply laptop:w-[195px];
  }

  .sizeTabletHr {
    @apply tablet:w-[138.68px];
  }

  .sizeMobileHr {
    @apply mobile:w-[33.29px];
  }

  /* NFT Title */
  .sizeLaptopTitleNft {
    @apply laptop:text-[75px] laptop:leading-[90px] laptop:tracking-[-3px];
  }

  .sizeTabletTitleNft {
    @apply tablet:text-[53.34px] tablet:leading-[64.01px] tablet:tracking-[-2.13px];
  }

  .sizeMobileTitleNft {
    @apply mobile:text-[47.4px] mobile:leading-[56.88px] mobile:tracking-[-1.9px] mobile:text-center;
  }

  /* NFT Subtitle */
  .sizeLaptopSubtitleNft {
    @apply laptop:w-[499px]  laptop:leading-[28px] laptop:text-[18px];
  }

  .sizeTabletSubtitleNft {
    @apply tablet:w-[354.88px]  tablet:leading-[19.91px] tablet:text-[12.8px];
  }

  .sizeMobileSubtitleNft {
    @apply mobile:w-[315.36px]  mobile:leading-[17.7px] mobile:text-[11.38px];
  }

  /* NFT Btns */
  .sizeLaptopNftBtn {
    @apply laptop:rounded-[12.41px] laptop:border-[1.5px] laptop:w-[138px] laptop:h-[60px];
  }

  .sizeTabletNftBtn {
    @apply tablet:w-[98.14px] tablet:h-[42.67px] tablet:rounded-[8.83px];
  }

  .sizeLaptopExploreBtn {
    @apply laptop:w-[179px] laptop:h-[60px];
  }

  .sizeTabletExploreBtn {
    @apply tablet:w-[127.3px] tablet:h-[42.67px];
  }

  /* NFT Btns text */
  .sizeLaptopTextNftBtns {
    @apply laptop:text-[16.27px] laptop:leading-[24.41px];
  }

  .sizeTabletTextNftBtns {
    @apply tablet:text-[11.57px] tablet:leading-[17.36px];
  }

  /* Title of statistic NFT */
  .sizeLaptopItemTitle {
    @apply laptop:leading-[45.96px] laptop:text-[36.77px];
  }

  .sizeTabletItemTitle {
    @apply tablet:text-[26.15px] tablet:text-center tablet:leading-[32.69px];
  }

  .sizeLaptopItemSubtitle {
    @apply laptop:leading-[18.39px] laptop:text-[12.26px];
  }

  .sizeTabletItemSubtitle {
    @apply tablet:leading-[13.08px] tablet:text-[8.72px];
  }
  .stonesDesktop {
    @apply desktop:w-full  desktop:h-[418.5px];
  }

  .stonesLaptop {
    @apply laptop:w-[362px]  laptop:h-[418.5px];
  }

  .stonesTablet {
    @apply laptop:w-[362px]  laptop:h-[418.5px];
  }

  /* arrow */
  .arrowDesktop {
    @apply desktop:w-[80%] desktop:h-[124.22px] desktop:pr-[3.25rem];
  }

  .arrowLaptop {
    @apply laptop:w-[80px] laptop:h-[124.22px] laptop:pr-5;
  }

  .arrowTablet {
    @apply tablet:h-[58.34px] tablet:w-[51.59px] tablet:pr-3;
  }

  .arrowMobile {
    @apply mobile:h-[56.71px] mobile:w-[58.79px];
  }

  /* orangeCircle */
  .orangeCircleDesktop {
    @apply desktop:w-[280.48px] desktop:h-[343px];
  }

  .orangeCircleLaptop {
    @apply laptop:w-[280.48px] laptop:h-[239px];
  }

  .orangeCircleTablet {
    @apply tablet:w-[180.48px] tablet:h-[243px];
  }

  /* netting */
  .nettingDesktop {
    @apply desktop:w-[170px] desktop:h-[200px];
  }

  .nettingLaptop {
    @apply laptop:w-[80px] laptop:h-[127.22px];
  }

  .nettingTablet {
    @apply tablet:w-[86.04px] tablet:h-[100px];
  }

  .nettingMobile {
    @apply mobile:w-[72.25px] mobile:h-[102.5px];
  }

  /* buttons */
  .containerButtonsLaptop {
    @apply laptop:w-[166px] laptop:h-[68.99px];
  }

  .containerButtonsTablet {
    @apply tablet:w-[118.06px] tablet:h-[49.06px];
  }

  .containerButtonsMobile {
    @apply mobile:w-[118.06px] mobile:h-[49.06px];
  }
}

@tailwind utilities;

@layer utilities {
  .shadow-cardTrend {
    --shadow-x: 38.82px;
    --shadow-y: 11.76px;
    --shadow-blur: 58.81px;
    --shadow-spread: 0px;
    --shadow-color: #c7c7c7;
    --shadow-opacity: 0.6;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(199, 199, 199, var(--shadow-opacity)));
  }
  .shadow-switchBtn {
    --shadow-x: 0px;
    --shadow-y: 43.12px;
    --shadow-blur: 34.49px;
    --shadow-spread: -25.87px;
    --shadow-color: #0f0f0f;
    --shadow-opacity: 0.12;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(15, 15, 15, var(--shadow-opacity)));
  }
  .shadow-cardTime {
    --shadow-x: 0px;
    --shadow-y: 4.71px;
    --shadow-blur: 14.12px;
    --shadow-spread: 0px;
    --shadow-color: #1c1d20;
    --shadow-opacity: 0.08;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(28, 29, 32, var(--shadow-opacity)));
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
