@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@layer components {
  /* Auth Page */
  .btnsWalletsNextBtnText {
    @apply text-[#F3F5F6] tracking-[3%] font-poppins font-[600] desktop:text-[17.94px] desktop:leading-[26.91px] laptop:text-[12.76px] laptop:leading-[19.14px] tablet:text-[12.76px] tablet:leading-[19.14px] mobile:text-[14.35px] mobile:leading-[21.53px];
  }
  .btnsWalletsNextBtn {
    @apply desktop:rounded-[15.7px] desktop:w-[385.76px] desktop:h-[75.13px] laptop:rounded-[11.17px] laptop:w-[274.32px] laptop:h-[53.43px] tablet:rounded-[11.17px] tablet:w-[274.32px] tablet:h-[53.43px] mobile:rounded-[7.72px] mobile:w-[316.02px] mobile:h-[67.2px];
  }
  .btnsWalletsImg {
    @apply desktop:w-[38.58px] desktop:h-[38.58px] laptop:w-[27.44px] laptop:h-[27.44px] tablet:w-[27.44px] tablet:h-[27.44px] mobile:w-[30.86px] mobile:h-[30.86px];
  }
  .btnsWalletsText {
    @apply pl-5 text-[#000000] font-poppins font-[600] desktop:text-[18.08px] desktop:leading-[27.73px] laptop:text-[12.86px] laptop:leading-[19.72px] tablet:text-[12.86px] tablet:leading-[19.72px] mobile:text-[14.47px] mobile:leading-[22.18px];
  }
  .btnsWallets {
    @apply bg-[#FFFFFF] text-[#000000]  desktop:shadow-boxWalletBtns laptop:shadow-boxWalletBtnsLaptop tablet:shadow-boxWalletBtnsLaptop pl-8 mobile:shadow-boxWalletBtnsMobile flex justify-start items-center desktop:rounded-[9.64px] desktop:w-[395px] desktop:h-[86px] laptop:rounded-[6.86px] laptop:w-[280.92px] laptop:h-[61.16px] tablet:rounded-[6.86px] tablet:w-[280.92px] tablet:h-[61.16px] mobile:rounded-[7.72px] mobile:w-[316.02px] mobile:h-[67.2px];
  }
  .btnsWalletsArrow {
    @apply ml-3 text-[#23262F] desktop:w-[28.93px] desktop:h-[28.93px] laptop:w-[20.58px] laptop:h-[20.58px]  tablet:w-[20.58px] tablet:h-[20.58px] mobile:w-[23.15px] mobile:h-[23.15px];
  }
  .titleAuthPage {
    @apply text-[#323142] text-center font-poppins font-[600] desktop:text-[35.25px] desktop:leading-[44.06px] laptop:text-[25.07px] laptop:leading-[31.34px] tablet:text-[25.07px] tablet:leading-[31.34px] mobile:text-[28.2px] mobile:leading-[35.25px]  tracking-[-4%];
  }
  .textPrivacyAndCopyright {
    @apply text-[#AAAAAA] font-poppins font-[500] desktop:tracking-[0.2px] desktop:text-[16px] desktop:leading-[24px] laptop:tracking-[0.14px] laptop:text-[11.38px] laptop:leading-[17.07px] tablet:tracking-[0.14px] tablet:text-[11.38px] tablet:leading-[17.07px];
  }
  .btnModelNav {
    @apply bg-[#FCFCFD] flex justify-center items-center;
  }
  .titleNFTGalleryTitle {
    @apply text-[#FFFFFF] font-dm font-[700] text-center tracking-[-2%] desktop:text-[47.34px] desktop:leading-[56.81px] laptop:text-[33.67px] laptop:leading-[40.4px] tablet:text-[33.67px] tablet:leading-[40.4px];
  }
  .subtitleNFTGalleryTitle {
    @apply text-[#6D6D6D] font-poppins font-[400] text-center tracking-[-2%] desktop:text-[16.57px] desktop:leading-[28.4px] laptop:text-[11.78px] laptop:leading-[20.2px] tablet:text-[11.78px] tablet:leading-[20.2px];
  }
  .imgStonesWithShadows {
    @apply z-10 desktop:w-[391px] desktop:h-[394.59px] laptop:w-[278.07px] laptop:h-[280.62px] tablet:w-[278.07px] tablet:h-[280.62px];
  }
  .imgStonesBlur {
    @apply absolute desktop:top-[10%] desktop:w-full desktop:h-[90%] laptop:top-[4%] laptop:w-[90%] laptop:h-[98%] tablet:top-[4%] tablet:w-[100%] tablet:h-[100%] opacity-[70%];
  }
  /* Stats Page */
  .ownersAndItemsText {
    @apply text-[#010101] font-poppins font-[500] desktop:text-[22.04px] desktop:leading-[28.66px] laptop:text-[15.68px] laptop:leading-[20.38px]  tablet:text-[15.68px] tablet:leading-[20.38px]  tracking-[1%];
  }
  .textWithCardMarkImg {
    @apply text-[#141416] font-poppins font-semibold desktop:text-[22.84px] desktop:leading-[31.98px] laptop:text-[16.25px] laptop:leading-[22.74px] tablet:text-[16.25px] tablet:leading-[22.74px] mobile:text-[15.36px] mobile:leading-[21.5px];
  }
  .cardMarkImg {
    @apply desktop:h-[29.37px] desktop:w-[29.37px] laptop:w-[20.89px] laptop:h-[20.89px] tablet:w-[20.89px] tablet:h-[20.89px] mobile:w-[17.28px] mobile:h-[17.28px];
  }
  .arrowsDownUp {
    @apply desktop:w-[19.9px] desktop:h-[19.9px] laptop:w-[14.15px] laptop:h-[14.15px] tablet:w-[14.15px] tablet:h-[14.15px] mobile:hidden;
  }
  /* Creators Page */
  .infoCardIcon {
    @apply desktop:w-[12.85px] desktop:h-[17.85px] laptop:w-[9.14px] laptop:h-[12.66px] tablet:w-[9.14px] tablet:h-[12.66px] mobile:w-[10.73px] mobile:h-[14.86px];
  }
  .titleCard {
    @apply text-[#141416] text-center font-poppins font-[500] desktop:text-[17.79px] desktop:leading-[25.7px] laptop:text-[12.65px] laptop:leading-[18.28px] tablet:text-[12.65px] tablet:leading-[18.28px]  mobile:text-[14.86px] mobile:leading-[21.47px];
  }
  .subtitleCard {
    @apply text-[#828282]  text-center  font-poppins font-[400] desktop:text-[12.85px] desktop:leading-[15.82px] laptop:text-[9.14px] laptop:leading-[11.25px] tablet:text-[9.14px] tablet:leading-[11.25px]  mobile:text-[10.73px] mobile:leading-[13.21px];
  }
  /* Create NFT Page */
  .uploadSizeContainer {
    @apply desktop:rounded-[30.74px] desktop:h-[413px] desktop:w-[468px]  laptop:rounded-[21.86px] laptop:h-[293.72px] laptop:w-[332.83px] tablet:rounded-[21.86px] tablet:h-[293.72px] tablet:w-[332.83px] mobile:rounded-[22.79px] mobile:h-[375.14px] mobile:w-[310.56px];
  }
  .containerToggle {
    @apply flex justify-between cursor-pointer select-none desktop:w-[699px] desktop:h-[54px] laptop:w-[497.12px] laptop:h-[38.32px] tablet:w-full tablet:h-[38.32px] mobile:h-[34.86px] mobile:w-[313.46px] items-center;
  }
  .toggleTitle {
    @apply text-[#000000] font-poppins font-[500] desktop:leading-[24.9px] desktop:text-[20px] laptop:text-[14.22px] laptop:leading-[17.71px] tablet:text-[14.22px] tablet:leading-[17.71px] mobile:text-[12.89px] mobile:leading-[16.05px];
  }
  .toggleSubtitle {
    @apply text-[#9596A6] font-poppins font-[400] desktop:leading-[16.74px] desktop:text-[13.45px] laptop:text-[9.56px] laptop:leading-[11.91px] tablet:text-[9.56px] tablet:leading-[11.91px] mobile:text-[8.67px] mobile:leading-[10.79px];
  }
  .toggleFormBg {
    @apply block desktop:w-[55px] desktop:h-[30px]  desktop:rounded-[20px]  laptop:w-[39.11px] laptop:h-[21.34px]  laptop:rounded-[14.22px]  tablet:w-[39.11px] tablet:h-[21.34px] tablet:rounded-[14.22px] mobile:w-[35.46px] mobile:h-[19.34px] mobile:rounded-[12.89px];
  }
  .toggleFormCircle {
    @apply absolute left-1 top-[0.2rem] desktop:top-[0.30rem] flex desktop:w-[20px] desktop:h-[20px] laptop:w-[14.22px] laptop:h-[14.22px] mobile:w-[12.9px] mobile:h-[12.9px] tablet:w-[14.22px] tablet:h-[14.22px] items-center justify-center desktop:rounded-[20px] laptop:rounded-[14.22px] tablet:rounded-[14.22px]  mobile:rounded-[12.89px]  transition;
  }
  .toggleFormCircleActive {
    @apply bg-white translate-x-full desktop:left-[0.6rem] laptop:left-[0.4rem] tablet:left-[0.4rem];
  }
  .toggleFormCircleNotActive {
    @apply bg-black;
  }
  .titleCreateNFTPage {
    @apply font-poppins font-[600] text-[#141416] desktop:text-[45px] laptop:text-[32px] tablet:text-[32px] desktop:leading-[30px] laptop:leading-[21.34px] tablet:leading-[21.34px] text-center mobile:hidden tablet:mb-4;
  }
  .containerSizeAndRoyalty {
    @apply laptop:h-[77.09px] tablet:h-[77.09px] desktop:h-[108.39px] mobile:h-[69.88px];
  }
  .fieldsSizeAndRoyaltyText {
    @apply font-poppins font-[400] desktop:text-[13.45px] laptop:text-[9.56px] tablet:text-[9.56px] desktop:leading-[13.45px] laptop:leading-[20.17px] tablet:leading-[20.17px] mobile:leading-[13px] mobile:text-[8.67px]   tracking-[-2%];
  }
  .selectRoyaltyFormCreateNFTContainer {
    @apply relative;
  }
  .selectRoyaltyFormCreateNFT {
    @apply text-[#FFFFFF]  appearance-none pl-[25%] desktop:w-[100px] desktop:h-[70.9px] laptop:w-[104.51px] laptop:h-[44.8px] tablet:w-[112.05px] tablet:h-[50.42px]  mobile:w-[111.41px] mobile:h-[50.13px]  desktop:rounded-[12.33px] laptop:rounded-[8.77px] tablet:rounded-[8.77px] mobile:rounded-[7.95px];
  }
  .selectRoyaltyFormCreateNFTContainer::after {
    @apply absolute top-1/2 desktop:right-[13%] tablet:right-[13%] laptop:right-[13%] mobile:right-[13%] desktop:top-[70%] laptop:top-[70%] tablet:top-[69%] mobile:top-[68%] desktop:w-[7.88px] desktop:h-[15.76px]  laptop:w-[7px] laptop:h-[19px]  transform -translate-y-1/2 pointer-events-none text-[12px];
  }
  @media screen and (min-width: 1280px) {
    .selectRoyaltyFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFT.svg");
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .selectRoyaltyFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFTLaptop.svg");
    }
  }
  @media screen and (max-width: 767px) {
    .selectRoyaltyFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFTMobile.svg");
    }
  }

  .selectFormCreateNFTContainer {
    @apply relative;
  }
  .selectFormCreateNFT {
    @apply text-[#FFFFFF] font-poppins font-[400] uppercase appearance-none pl-[25%];
  }
  .selectFormCreateNFTContainer::after {
    @apply absolute top-1/2 desktop:right-[91%] tablet:right-[92.9%] laptop:right-[89%] mobile:right-[81%] desktop:top-[48%] laptop:top-[48%] tablet:top-[47%] mobile:top-[45%] desktop:w-[7.88px] desktop:h-[15.76px]  laptop:w-[7px] laptop:h-[19px]  transform -translate-y-1/2 pointer-events-none text-[12px];
  }
  @media screen and (min-width: 1280px) {
    .selectFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFT.svg");
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .selectFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFTLaptop.svg");
    }
  }
  @media screen and (max-width: 767px) {
    .selectFormCreateNFTContainer::after {
      content: url("./assets/IconFormMarkCreateNFTMobile.svg");
    }
  }
  .labelForm {
    @apply text-[#000000] font-poppins font-[500] desktop:text-[20px] desktop:leading-[24.9px] laptop:text-[14.22px] laptop:leading-[17.71px] tablet:text-[14.22px] tablet:leading-[17.71px] mobile:text-[12.89px] mobile:leading-[16.05px];
  }
  .fieldForm {
    @apply font-[400] border-none focus:outline-none text-[#000000] font-poppins desktop:leading-[16.74px] desktop:text-[13.45px] laptop:text-[9.56px] laptop:leading-[11.91px] tablet:text-[9.56px] tablet:leading-[11.91px] mobile:text-[8.67px] mobile:leading-[10.79px]  bg-[#EFEFEF] desktop:h-[62.43px]  desktop:rounded-[12.33px] laptop:h-[44.4px] laptop:rounded-[8.77px] tablet:h-[44.4px] tablet:rounded-[8.77px] mobile:rounded-[7.95px] mobile:h-[39.5px]  pl-[0.7rem] pr-10;
  }
  .containerField {
    @apply relative flex flex-col justify-between desktop:h-[107.43px] laptop:h-[76.4px] tablet:h-[76.4px] mobile:h-[68.5px];
  }
  .formIconEdit {
    @apply absolute left-[90%] desktop:left-[93%] laptop:left-[94%] tablet:left-[96%] top-[60%] laptop:top-[62%] tablet:top-[62%] laptop:w-[13px] tablet:w-[13px] mobile:w-[13.01px] mobile:left-[92%] mobile:top-[63%];
  }
  .formBtnTextCreateNFT {
    @apply text-[#FFFFFF] font-poppins font-[500] desktop:text-[16px] desktop:leading-[18.45px] laptop:text-[11.38px] laptop:leading-[13.12px]  tablet:text-[11.38px] tablet:leading-[13.12px];
  }
  .btnFormCreateNFT {
    @apply bg-[#141416]  desktop:h-[66px] desktop:rounded-[11.99px] laptop:h-[46.94px] laptop:rounded-[8.53px] tablet:rounded-[8.53px] mobile:rounded-[15.2px]  tablet:h-[46.94px]  mobile:h-[59.83px] formBtnTextCreateNFT;
  }
  /* CreatorPage */
  .imgMarkPriceCreatorPage {
    @apply laptop:w-[12px] laptop:h-[12.62px] tablet:w-[12px] tablet:h-[12.62px] mobile:w-[12px] mobile:h-[12.62px];
  }
  .priceActivityCartCreatorPage {
    @apply text-[#000000] font-[500] font-poppins desktop:text-[15.74px] desktop:leading-[22.74px] laptop:text-[11.19px] laptop:leading-[16.17px] tablet:text-[11.19px] tablet:leading-[16.17px] mobile:text-[12.62px] mobile:leading-[18.24px];
  }
  .priceTitleActivityCartCreatorPage {
    @apply text-[#828282] font-[400] font-poppins desktop:text-[11.37px] desktop:leading-[13.99px] laptop:text-[8.09px] laptop:leading-[9.95px] tablet:text-[8.09px] tablet:leading-[9.95px] mobile:text-[9.12px] mobile:leading-[11.22px];
  }
  .imgActivityBtnCreatorPage {
    @apply desktop:w-[21.28px] desktop:h-[21.28px] laptop:w-[15.72px] laptop:h-[15.72px]  tablet:w-[15.72px] tablet:h-[15.72px] mobile:w-[16.37px] mobile:h-[16.37px];
  }
  .imgVectorCreatorPage {
    @apply desktop:w-[15px] desktop:h-[15px] laptop:w-[7px] laptop:h-[7px] tablet:w-[7px] tablet:h-[7px] mobile:w-[8.3px] mobile:h-[8.6px];
  }
  .containerTimeStyleCreatorPage {
    @apply desktop:w-[84.75px] desktop:h-[27.36px] laptop:w-[46px] laptop:h-[11px] bg-red-700;
  }
  .btnsActivityCreatorPage {
    @apply flex justify-center items-center shadow-activityBtnShadow  bg-[#FFFFFF] text-[#000000] font-poppins font-[400] desktop:text-[16.28px] desktop:leading-[20.03px] desktop:w-[320.42px] desktop:h-[50.37px] desktop:rounded-[10.02px] laptop:h-[35.82px] laptop:w-[227.88px] laptop:rounded-[7.12px] laptop:text-[11.58px] laptop:leading-[14.25px] tablet:h-[35.82px] tablet:w-[170px] tablet:rounded-[7.12px] tablet:text-[11.58px] tablet:leading-[14.25px] mobile:h-[38.53px] mobile:w-[151.19px] mobile:rounded-[7.71px] mobile:text-[11px] mobile:leading-[15.41px];
  }
  .btnsFiltersCreatorPage {
    @apply flex justify-center items-start w-full bg-white font-poppins font-[700] desktop:text-[16.25px] desktop:leading-[24.91px] laptop:text-[11.55px] laptop:leading-[17.72px] tablet:text-[11.55px] tablet:leading-[17.72px] mobile:text-[12.81px] mobile:leading-[19.64px] desktop:border-b-4 laptop:border-b-[2.31px] tablet:border-b-[2.31px] mobile:border-b-[2.13px]  border-t-0 border-l-0 border-r-0;
  }
  .btnsFiltersCreatorPageActive {
    @apply border-[#000000]  rounded-none;
  }
  .btnsFiltersCreatorPageNotActive {
    @apply border-none text-[#D2D2D2];
  }
  .btnSpanCardForCreatorPage {
    @apply font-poppins font-[600]     text-[10.26px] laptop:text-[7.3px] tablet:text-[7.3px] mobile:text-[7.36px] leading-[15.39px] laptop:leading-[10.95px] tablet:leading-[21px] mobile:leading-[11.04px] tracking-[0.09px] laptop:tracking-[0.06px] tablet:tracking-[0.06px]   text-white;
  }
  .btnCardForCreatorPage {
    @apply rounded-[8.55px] w-[93.5px] h-[37.62px] laptop:w-[62.94px] laptop:h-[26.76px] laptop:rounded-[6.08px] tablet:w-[62.94px] tablet:h-[26.76px] tablet:rounded-[6.08px] mobile:w-[63.49px] mobile:h-[26.99px] mobile:rounded-[6.13px];
  }
  .markImgCardForCreatorPage {
    @apply desktop:w-[20px] desktop:h-[25px] laptop:w-[10.95px] laptop:h-[10.95px] tablet:w-[10.95px] tablet:h-[10.95px] mobile:w-[11.04px] mobile:h-[11.04px];
  }
  .subtitleCardForCreatorPage {
    @apply desktop:text-[10.26px] desktop:leading-[15.39px] desktop:tracking-[0.09px]  laptop:text-[7.3px] laptop:leading-[10.95px] laptop:tracking-[0.06px] tablet:text-[7.3px] tablet:leading-[10.95px] tablet:tracking-[0.06px] mobile:text-[7.36px] mobile:leading-[11.04px] mobile:tracking-[0.06px];
  }
  .titleCardForCreatorPage {
    @apply desktop:text-[15.39px] desktop:leading-[21.55px] laptop:text-[10.95px] laptop:leading-[15.32px] tablet:text-[10px] tablet:leading-[15.32px] mobile:text-[11.04px] mobile:leading-[15.46px];
  }
  .containerInfoCardForCreatorPage {
    @apply desktop:h-[69.75px] desktop:w-[177px] desktop:rounded-[17.45px] laptop:w-[125.88px] laptop:h-[49.6px] laptop:rounded-[12.41px] tablet:w-[150px] tablet:h-[49.6px] tablet:rounded-[12.41px] mobile:w-[126.98px] mobile:h-[50.04px] mobile:rounded-[23.67px]  tablet:pl-[8%] tablet:pr-[8%] mobile:pl-[0%] mobile:pr-[0%];
  }
  .imgCardForCreatorPage {
    @apply desktop:h-[183.84px] desktop:w-[183.84px] desktop:rounded-[17.07px] laptop:w-[130.74px] laptop:h-[130.74px] laptop:rounded-[12.14px] tablet:w-[130.74px] tablet:h-[130.74px] tablet:rounded-[12.14px] mobile:w-[131.89px] mobile:h-[131.89px] mobile:rounded-[12.24px];
  }
  .cardForCreatorPage {
    @apply desktop:h-[292.43px] desktop:w-[204.36px] desktop:rounded-[17.45px] laptop:w-[153.55px] laptop:h-[211.56px] laptop:rounded-[12.41px] tablet:w-[153.55px] tablet:h-[211.56px] tablet:rounded-[12.41px] mobile:w-[146.61px] mobile:h-[209.79px] mobile:rounded-[12.24px];
  }
  /*ModalHistoryBid */

  .selectBidContainer {
    @apply relative;
  }
  .selectBid {
    @apply text-[#FFFFFF] font-poppins font-[600] uppercase appearance-none pl-[25%] desktop:w-[157.55px] desktop:h-[70.9px] desktop:text-[20.26px] desktop:leading-[30.39px] desktop:gap-[23.63px] desktop:rounded-l-[18.01px] laptop:w-[112.05px] laptop:h-[50.42px] laptop:text-[14.41px] laptop:leading-[21.61px] laptop:gap-[16.81px]  laptop:rounded-l-[12.81px] tablet:w-[112.05px] tablet:h-[50.42px] tablet:text-[14.41px] tablet:leading-[21.61px] tablet:gap-[16.81px] tablet:rounded-l-[12.81px] mobile:w-[111.41px] mobile:h-[50.13px] mobile:text-[14.32px] mobile:leading-[21.49px] mobile:gap-[16.71px] mobile:rounded-l-[12.73px];
  }
  .selectBidContainer::after {
    @apply absolute top-1/2 right-[40%] tablet:right-[36%] mobile:right-[33%] tablet:top-[48%] mobile:top-[48%] desktop:w-[7.88px] desktop:h-[15.76px]  laptop:w-[7px] laptop:h-[19px]  transform -translate-y-1/2 pointer-events-none text-[12px];
  }
  @media screen and (min-width: 1280px) {
    .selectBidContainer::after {
      content: url("./assets/VectorBidModalDesktop.svg");
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .selectBidContainer::after {
      content: url("./assets/VectorBidModalLaptop.svg");
    }
  }
  @media screen and (max-width: 767px) {
    .selectBidContainer::after {
      content: url("./assets/VectorBidModalLaptop.svg");
    }
  }

  /* ProductDetailsPage */
  .bigMarkCardImg {
    @apply desktop:w-[22.35px] desktop:h-[35.6px] laptop:w-[15.89px] laptop:h-[25.32px] tablet:w-[20px] tablet:h-[20px] mobile:w-[13.2px] mobile:h-[21.02px];
  }
  .detailInfoContainerDetailData {
    @apply flex flex-col justify-between tablet:justify-evenly desktop:w-[473.8px] desktop:h-[550.09px] laptop:w-[336.96px] laptop:h-[391.22px] tablet:w-[300px] tablet:h-[350px] mobile:h-[55%] mobile:w-[90%];
  }
  .detailInfoWalletImg {
    @apply desktop:w-[22.07px] desktop:h-[22.07px] laptop:w-[15.7px] laptop:h-[15.7px] tablet:w-[15.7px] tablet:h-[15.7px] mobile:w-[12.85px] mobile:h-[12.85px];
  }
  .detailInfoAvatarsImg {
    @apply desktop:w-[65.65px] desktop:h-[65.65px] laptop:w-[46.69px] laptop:h-[46.69px] tablet:w-[30px] tablet:h-[30px] mobile:w-[33.46px] mobile:h-[33.46px];
  }
  .detailInfoSubtitlesPriceContainer {
    @apply flex flex-col justify-between desktop:h-[77.49px] laptop:h-[55.26px] tablet:h-[45px] mobile:h-[45.83px];
  }
  .detailInfoSubtitlesPrice {
    @apply text-[#8C8C8C] font-poppins font-[400]  desktop:text-[17.86px] desktop:leading-[21.98px] laptop:text-[12.7px] laptop:leading-[15.63px]  tablet:text-[10px] tablet:leading-[13px] mobile:text-[10.55px] mobile:leading-[12.98px];
  }
  .detailInfoTime {
    @apply text-[#000000] font-poppins font-[400] desktop:text-[19.23px] desktop:leading-[30.23px] laptop:text-[13.68px] laptop:leading-[21.5px]  tablet:text-[11px] tablet:leading-[18px] mobile:text-[11.36px] mobile:leading-[17.85px];
  }
  .detailInfoPrice {
    @apply text-[#292B39] font-poppins font-[600] desktop:text-[32.99px] desktop:leading-[49.48px] laptop:text-[23.46px] laptop:leading-[35.19px] tablet:text-[20px] tablet:leading-[30.19px] ml-1;
  }
  .detailInfoPersonTitle {
    @apply text-[#000000] font-poppins font-[500] desktop:text-[25.57px] desktop:leading-[39.2px] laptop:text-[18.18px] laptop:leading-[27.88px] tablet:text-[14.18px] tablet:leading-[23.88px] mobile:text-[13.03px] mobile:leading-[19.98px];
  }
  .detailInfoPersonSubtitle {
    @apply text-[#8D8D8D] font-poppins font-[400] desktop:text-[17.68px] desktop:leading-[26.52px] laptop:text-[12.57px] laptop:leading-[18.86px] tablet:text-[10px] tablet:leading-[14.86px] mobile:text-[9.01px] mobile:leading-[13.52px];
  }
  .detailInfoSubtitle {
    @apply text-[#888888B2] font-poppins font-[400] desktop:text-[19px] desktop:leading-[29.14px] laptop:text-[13.51px] laptop:leading-[20.72px] tablet:text-[10px] tablet:leading-[15px] mobile:text-[13.03px] mobile:leading-[19.98px];
  }
  .detailInfoTitle {
    @apply text-[#292B39] font-poppins font-[600] desktop:text-[51.04px] desktop:leading-[31.82px] laptop:text-[36.3px] laptop:leading-[22.63px] tablet:text-[25px] tablet:leading-[20px] mobile:text-[15.64px] mobile:leading-[22.59px];
  }
  .detailInfoBtnText {
    @apply text-[#FFFFFF] font-poppins font-[700] desktop:text-[18.39px] desktop:leading-[28.21px] laptop:text-[13.08px] laptop:leading-[20.06px] tablet:text-[13.08px] tablet:leading-[20.06px] mobile:text-[10.71px] mobile:leading-[16.42px];
  }
  .detailInfoBtn {
    @apply bg-[#141416] w-full flex justify-center items-center desktop:h-[78.97px] desktop:rounded-[19.62px] desktop:gap-[16.28px] laptop:h-[56.16px] laptop:rounded-[13.95px] laptop:gap-[11.57px] tablet:h-[45px] tablet:rounded-[13.95px] tablet:gap-[11.57px] mobile:h-[45px] mobile:rounded-[11.42px] mobile:gap-[9.47px];
  }
  .blockDetailInfo {
    @apply bg-white flex mobile:flex-col justify-around items-center desktop:w-[1248px] desktop:h-[636.21px] desktop:rounded-[24.42px]  laptop:h-[452.46px] laptop:w-[887.56px] laptop:rounded-[17.37px] tablet:rounded-[17.37px] mobile:h-[703px] mobile:w-[310px] mobile:rounded-[14px]  customBoxContainerDetailProduct;
  }
  .customBoxContainerDetailProduct {
    @apply shadow-boxContainerDetailProduct;
  }
  /* Discover */
  .discoverTitle {
    @apply font-poppins font-[600] text-[#141416] desktop:text-[45px] desktop:leading-[30px] desktop:mt-[5rem] laptop:text-[32px] laptop:leading-[21.34px] laptop:mt-[2rem] tablet:text-[32px] tablet:leading-[21.34px] tablet:mt-[0rem] mobile:text-[30px]  mobile:leading-[37.5px];
  }
  /* loader */
  .loader {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10rem;
    background: conic-gradient(rgba(153, 153, 153, 1), rgba(153, 153, 153, 0));
    box-shadow: 0px 0px 100px -50px black;
    animation: animate 1s linear infinite;
  }

  .loader::before {
    position: absolute;
    content: "";
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10rem;
  }

  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  /* pages */
  .containerPage {
    @apply h-full w-screen flex flex-col items-center bg-white;
  }
  /* Unleash */
  @media (min-width: 768px) and (max-width: 1023px) {
    .list-image-marker > li {
      font-family: "Poppins", "sans-serif";
      color: #12141d;
      font-weight: 400;
      margin-top: 5px;
      line-height: 22.76px;
      font-size: 11.38px;
      list-style-type: none;
      background-image: url("../src/assets/iconSuccess.svg");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 14.22px;
      padding-left: 20px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .list-image-marker > li {
      font-family: "Poppins", "sans-serif";
      color: #12141d;
      font-weight: 400;
      margin-top: 5px;
      line-height: 22.76px;
      font-size: 11.38px;
      list-style-type: none;
      background-image: url("../src/assets/iconSuccess.svg");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 14.22px;
      padding-left: 20px;
    }
  }
  @media (min-width: 1280px) {
    .list-image-marker > li {
      font-family: "Poppins", "sans-serif";
      line-height: 32px;
      color: #12141d;
      font-weight: 400;
      font-size: 16px;
      margin-top: 5px;
      list-style-type: none;
      background-image: url("../src/assets/iconSuccess.svg");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-left: 30px;
    }
  }
  /* Banner  */
  /* Banner container */
  .bannerContainerSize {
    @apply mobile:h-[450px] tablet:h-[350px] laptop:h-[411px] desktop:h-[511px] w-full;
  }
  .bannerSize {
    @apply mobile:w-[80%] mobile:h-[211px] tablet:h-[180px] tablet:w-[90%] laptop:w-[885.42px] laptop:h-[221.18px] desktop:w-[1245px] desktop:h-[311px];
  }
  .bannerNftTitle {
    @apply font-poppins font-semibold text-white mobile:text-center mobile:text-[22.3px] mobile:leading-[28.99px] tablet:text-[27px] tablet:leading-[41.6px] tablet:tracking-[1%]  laptop:text-[32px] laptop:leading-[41.6px] laptop:tracking-[1%] desktop:text-[45px] desktop:leading-[58.5px] desktop:tracking-[1%];
  }
  .bannerNftSubtitle {
    @apply font-poppins text-left text-[#D4D4D4] mobile:text-center mobile:text-[10.04px] mobile:leading-[13.05px] font-medium laptop:text-[14.41px] laptop:leading-[18.74px] laptop:tracking-[1%] desktop:text-[20.27px] desktop:leading-[26.35px] desktop:tracking-[1%];
  }
  /* Notification */
  .notificationSize {
    @apply mobile:w-[149px] mobile:h-[56px] tablet:w-[170px] tablet:h-[53px] laptop:w-[231.59px] laptop:h-[60.2px] desktop:w-[230px] desktop:h-[60px];
  }
  .notificationPositions {
    @apply mobile:left-[52%] mobile:top-[2%] tablet:left-[53%] tablet:top-[8%] desktop:left-[52%] left-[45%];
  }
  /* horizontal netting */
  .horizontalNettingPositions {
    @apply tablet:top-[65%] desktop:left-[55%] left-[50%] top-[50%];
  }
  /* BestSellers */
  .bestSellersSizes {
    @apply mobile:w-[153.99px] mobile:h-[243.86px]  tablet:h-[290px] tablet:w-[200px] laptop:h-[362.75px] laptop:w-[229.07px]  desktop:w-[322.1px] desktop:h-[475.06px];
  }
  .bestSellersPositions {
    @apply mobile:top-[10%] tablet:top-[13%] tablet:left-[23%] desktop:top-[2%] left-[30%] top-[6%];
  }
  /* Unleash follow btn*/
  .BestSellersFollowBtnMobile {
    @apply mobile:text-[5.83px] mobile:leading-[6.66px]  mobile:h-[13.66px] mobile:w-[38.31px] mobile:rounded-[3.33px] mobile:border-[0.83px];
  }
  .BestSellersFollowBtnTablet {
    @apply tablet:text-[8.68px] tablet:leading-[9.92px] tablet:w-[46.84px] tablet:h-[19.92px] tablet:rounded-[4.96px] tablet:border-[1.24px];
  }
  .BestSellersFollowBtnLaptop {
    @apply laptop:text-[8.68px] laptop:leading-[9.92px] laptop:w-[46.84px] laptop:h-[19.92px] laptop:rounded-[4.96px] laptop:border-[1.24px];
  }
  .BestSellersFollowBtnDesktop {
    @apply desktop:text-[12.19px] desktop:leading-[13.93px] desktop:w-[65.86px] desktop:h-[27.93px] desktop:rounded-[6.97px] desktop:border-[1.74px];
  }
  /* Unleash unfollow btn*/
  .BestSellersUnfollowBtnMobile {
    @apply mobile:text-[5.83px] mobile:leading-[6.66px]  mobile:h-[13.66px] mobile:w-[38.31px] mobile:rounded-[3.33px] mobile:border-[0.83px];
  }
  .BestSellersUnfollowBtnLaptop {
    @apply laptop:text-[8.68px] laptop:leading-[9.92px]  laptop:h-[19.92px] laptop:w-[55.84px] laptop:rounded-[4.96px] laptop:border-[1.24px];
  }
  .BestSellersUnfollowBtnTablet {
    @apply tablet:text-[8.68px] tablet:leading-[9.92px]  tablet:h-[19.92px] tablet:w-[55.84px] tablet:rounded-[4.96px] tablet:border-[1.24px];
  }
  .BestSellersUnfollowBtnDesktop {
    @apply desktop:text-[12.19px] desktop:leading-[13.93px]  desktop:h-[27.93px] desktop:w-[78.86px] desktop:rounded-[6.97px] desktop:border-[1.74px];
  }
  /* UnleashRecentViewed */
  .titleUnleashRecentViewedDesktop {
    @apply desktop:leading-[28.35px] desktop:tracking-[0.02px] desktop:text-[21px];
  }
  .titleUnleashRecentViewedLaptop {
    @apply laptop:tracking-[0.13px] laptop:leading-[17.79px] laptop:text-[14.93px];
  }
  .titleUnleashRecentViewedMobile {
    @apply mobile:tracking-[0.08px] mobile:leading-[11.96px] mobile:text-[8.86px];
  }
  .unleashRecentViewedPositions {
    @apply top-[61%] desktop:top-[51%] mobile:top-[53%]  mobile:left-[12%] left-[16%] desktop:left-[11%] tablet:left-[7%] tablet:top-[63%];
  }
  .unleashRecentViewedSizes {
    @apply w-[340px] h-[215px] laptop:w-[229.07px] laptop:h-[154.39px] tablet:w-[170.07px] tablet:h-[134.39px] mobile:h-[103.79px] mobile:w-[153.99px];
  }
  /* span with index for img  */
  .indexUnleashRecentViewedMobile {
    @apply mobile:w-[13.26px] mobile:h-[13.26px] mobile:text-[4.86px] mobile:leading-[7.29px] mobile:tracking-[0.04px];
  }
  .indexUnleashRecentViewedTablet {
    @apply tablet:w-[13.26px] tablet:h-[13.26px] tablet:text-[7.23px] tablet:leading-[10.85px] tablet:tracking-[0.6px];
  }
  .indexUnleashRecentViewedLaptop {
    @apply laptop:w-[13.26px] laptop:h-[13.26px] laptop:text-[7.23px] laptop:leading-[10.85px] laptop:tracking-[0.6px];
  }

  .indexUnleashRecentViewedDesktop {
    @apply desktop:tracking-[0.1px] desktop:leading-[17.28px] desktop:text-[11.52px] desktop:w-[21.13px] desktop:h-[21.13px];
  }
  /* UnleashBtnContainer */

  .unleashBtnContainerMobile {
    @apply mobile:rounded-[11.99px] mobile:w-[154px] mobile:h-[49px];
  }
  .unleashBtnContainerTablet {
    @apply tablet:rounded-[8.53px] tablet:w-[130px] tablet:h-[41.96px];
  }
  .unleashBtnContainerLaptop {
    @apply laptop:rounded-[8.53px] laptop:w-[130px] laptop:h-[41.96px];
  }
  .unleashBtnContainerDesktop {
    @apply desktop:rounded-[11.99px] desktop:w-[164px] desktop:h-[59px];
  }
  /* Unleash btn text */
  .unleashBtnTextTablet {
    @apply tablet:leading-[13.12px] tablet:text-[10.5px];
  }
  .unleashBtnTextLaptop {
    @apply laptop:leading-[13.12px] laptop:text-[10.5px];
  }
  .unleashBtnTextDesktop {
    @apply desktop:leading-[18.45px] desktop:text-[14.76px];
  }
  /* title */
  .unleashTitleDesktop {
    @apply desktop:text-[45px]  desktop:leading-[54.4px]  desktop:mt-[2.25rem] desktop:w-[461px] desktop:h-[109px];
  }
  .unleashTitleLaptop {
    @apply laptop:text-[32px] laptop:leading-[38.69px] laptop:w-[327.86px] laptop:h-[78px];
  }
  .unleashTitleTablet {
    @apply tablet:text-[28px] tablet:leading-[32.69px] tablet:w-[327.86px] tablet:h-[78px];
  }
  .unleashTitleMobile {
    @apply mobile:text-[28px] mobile:leading-[32.69px] mobile:w-[327.86px] mobile:h-[78px] mobile:text-center;
  }
  /* list */
  .unleashListItemLaptop {
    @apply laptop:text-[11.38px]  laptop:leading-[22.76px]  laptop:mt-[2.25rem];
  }
  .unleashListItemDesktop {
    @apply desktop:text-[16px]  desktop:leading-[32px]  desktop:mt-[2.25rem];
  }
  /* ExploreMarketplace */
  .titleExploreMarketplaceDesktop {
    @apply desktop:leading-[26.92px] desktop:text-[45px];
  }
  .titleExploreMarketplaceLaptop {
    @apply laptop:leading-[26.92px] laptop:text-[45px];
  }
  .titleExploreMarketplaceTablet {
    @apply tablet:leading-[26.92px] tablet:text-[45px];
  }
  .titleExploreMarketplaceMobile {
    @apply mobile:text-[30px] mobile:text-center mobile:leading-[37.5px] mobile:w-[193px];
  }
  .filterImgs {
    @apply mobile:h-[16.15px] mobile:w-[16.15px] tablet:w-[19.03px] tablet:h-[19.03px] laptop:w-[19.03px] laptop:h-[19.03px];
  }
  .filerBtns {
    @apply bg-white font-[600] p-2 font-manrope border-[2.21px] border-solid rounded-lg border-[#141416] flex justify-center mobile:justify-between items-center mobile:text-[9.92px] mobile:leading-[14.88px] mobile:tracking-[0.14px] tablet:text-[11.69px] tablet:leading-[17.53px] tablet:tracking-[0.17px]   laptop:text-[11.69px] laptop:leading-[17.53px] laptop:tracking-[0.17px];
  }
  /* table top collection */
  .titleTopCollection {
    @apply text-[#141416] text-[45.04px] mobile:text-[30px] font-poppins font-semibold leading-[44.75px];
  }
  .tableHeaderTr {
    @apply mobile:text-[14px] mobile:leading-[18.2px]  laptop:tracking-[1%] laptop:leading-[28.6px] laptop:text-[22px];
  }
  /* titleWeekly */
  .titleDesktopWeekly {
    @apply desktop:text-[45px] desktop:leading-[26.92px] mt-[4rem];
  }
  .titleLaptopWeekly {
    @apply laptop:leading-[26.92px] laptop:mt-[5rem] laptop:text-[45px];
  }
  .titleTabletWeekly {
    @apply tablet:text-[32px] tablet:mt-[3rem] tablet:leading-[19.14px];
  }
  .titleMobileWeekly {
    @apply mobile:text-[30px] mobile:mt-[3rem] mobile:leading-[26.92px];
  }
  .overflow-style {
    overflow: auto;
    scrollbar-width: none;
  }
  /* TrendiesList */
  .containerDesktopTrendiesList {
    @apply desktop:h-[402.28px] desktop:mt-[4rem] desktop:mb-[4rem];
  }
  .containerLaptopTrendiesList {
    @apply laptop:h-[402.28px] laptop:mt-[4rem] laptop:mb-[4rem];
  }
  .containerTabletTrendiesList {
    @apply tablet:h-[350.28px] tablet:mt-[4rem] tablet:mb-[4rem];
  }
  .containerMobileTrendiesList {
    @apply mobile:h-[285px] mobile:mt-[4rem] mobile:mb-[4rem];
  }
  /* InfoCard */
  .containerInfoCardForCreatorList {
    @apply desktop:w-[180px] desktop:h-[30%] laptop:w-[130px] laptop:h-[30%] tablet:w-[90px] tablet:h-[30%];
  }
  .containerDefaultInfoCard {
    @apply containerDesktopInfoCard containerLaptopInfoCard containerTabletInfoCard mobile:w-[271.92px] mobile:h-[59.54px];
  }
  .containerWeeklyInfoCard {
    @apply containerDesktopInfoCard containerLaptopInfoCard containerTabletInfoCard containerMobileInfoCard;
  }
  .containerDesktopInfoCard {
    @apply desktop:w-[281.13px] desktop:h-[95.95px];
  }
  .containerLaptopInfoCard {
    @apply laptop:w-[281.13px] laptop:h-[95.95px];
  }
  .containerTabletInfoCard {
    @apply tablet:w-[213px] tablet:h-[68.24px];
  }
  .containerMobileInfoCard {
    @apply mobile:w-[171.92px] mobile:h-[59.54px];
  }
  .titleForCreatorList {
    @apply desktop:text-[17.39px] desktop:leading-[27.32px] laptop:text-[12.37px] laptop:leading-[19.43px] tablet:text-[10px] tablet:leading-[19.43px];
  }
  .titleDefault {
    @apply titleDesktop titleLaptop titleTablet titleMobile;
  }
  .titleDesktop {
    @apply desktop:text-[21.17px] desktop:leading-[29.64px];
  }
  .titleLaptop {
    @apply laptop:text-[21.17px] laptop:leading-[29.64px];
  }
  .titleTablet {
    @apply tablet:text-[15.06px] tablet:leading-[21.08px];
  }
  .titleMobile {
    @apply font-poppins font-[600] mobile:text-[14.95px] mobile:leading-[20.93px];
  }

  .subtitleDesktop {
    @apply desktop:text-[14.12px] desktop:leading-[21.17px] desktop:tracking-[0.12px];
  }
  .subtitleLaptop {
    @apply laptop:text-[14.12px] laptop:leading-[21.17px] laptop:tracking-[0.12px];
  }
  .subtitleTablet {
    @apply tablet:text-[10.04px] tablet:leading-[15.06px] tablet:tracking-[0.08px];
  }

  .subtitleMobile {
    @apply mobile:text-[9.97px] mobile:leading-[14.95px] mobile:tracking-[0.08px];
  }
  .markImgForCreatorList {
    @apply desktop:w-[20px] desktop:h-[25px] laptop:w-[15px] laptop:h-[20px] tablet:w-[15px] tablet:h-[20px];
  }
  .markImgDefault {
    @apply w-[21.17px] h-[21.17px] tablet:h-[15.06px] tablet:w-[15.06px] mobile:w-[14.95px] mobile:h-[14.95px];
  }
  .markForCreatorList {
    @apply desktop:text-[18.22px] desktop:leading-[26.32px] laptop:text-[8.51px] laptop:leading-[18.72px] tablet:text-[11px] tablet:leading-[18.72px];
  }
  .markDefault {
    @apply markDesktop markLaptop markTablet markMobile;
  }
  .btnDefault {
    @apply rounded-[11.76px] w-[121.74px] h-[51.76px] tablet:w-[92px] tablet:h-[36.81px] mobile:w-[85.96px] mobile:h-[36.54px] mobile:rounded-[8.31px];
  }
  .btnSpanDefault {
    @apply text-[14.12px] tablet:text-[10.04px] mobile:text-[9.97px] leading-[21.17px] tablet:leading-[21px]  tracking-[0.12px] mobile:tracking-[0.08px] tablet:tracking-[0.08px] text-white w-[72px] h-[21px];
  }
  .markDesktop {
    @apply desktop:leading-[24.7px] desktop:text-[16.47px];
  }
  .markLaptop {
    @apply laptop:leading-[24.7px] laptop:text-[16.47px];
  }
  .markTablet {
    @apply tablet:leading-[17.57px] tablet:text-[11.71px];
  }
  .markMobile {
    @apply mobile:leading-[17.44px] mobile:text-[11.63px];
  }
  /* Container Card trends */
  .containerTimeStyleDefault {
    @apply w-[116.58px] tablet:w-[82.91px] h-[37.64px] tablet:h-[26.77px] mobile:h-[26.58px] mobile:w-[90.99px] mobile:rounded-[6.64px] rounded-[9.41px] border-[1.18px] backdrop-opacity-10 bg-[#1C1D2059] border-[#1C1D2014]  absolute top-[3%] left-[50%] mobile:top-[5%] mobile:left-[59%];
  }
  .containerTimeStyleWeekly {
    @apply w-[116.58px] tablet:w-[82.91px] h-[37.64px] tablet:h-[26.77px] mobile:h-[26.58px] mobile:w-[80.99px] mobile:rounded-[6.64px] rounded-[9.41px] border-[1.18px] backdrop-opacity-10 bg-[#1C1D2059] border-[#1C1D2014]  absolute top-[3%] left-[50%] mobile:top-[5%] mobile:left-[40%];
  }
  .timeSpanStyleCreatorPage {
    @apply text-white font-poppins font-medium desktop:text-[10.26px] desktop:tracking-[0.09px] desktop:leading-[15.39px] laptop:text-[7.3px] laptop:tracking-[0.06px] laptop:leading-[10.95px]   tablet:leading-[10.95px] tablet:tracking-[0.06px] tablet:text-[7.3px] mobile:text-[7.36px] mobile:leading-[11.04px] mobile:tracking-[0.06px];
  }
  .timeSpanStyleDefault {
    @apply text-white font-poppins font-medium text-[14.12px] tracking-[0.12px] leading-[21.17px]    mobile:text-[12px] mobile:leading-[14.95px] mobile:tracking-[0.08px] tablet:leading-[15.06px] tablet:tracking-[0.08px] tablet:text-[10.04px];
  }
  .timeSpanStyleWeekly {
    @apply text-white font-poppins font-medium text-[14.12px] tracking-[0.12px] leading-[21.17px]    mobile:text-[9.97px] mobile:leading-[14.95px] mobile:tracking-[0.08px] tablet:leading-[15.06px] tablet:tracking-[0.08px] tablet:text-[10.04px];
  }
  .containerTrendiesCardForCreatorList {
    @apply desktop:h-[297.48px] desktop:w-[215.91px] desktop:rounded-[17.45px] laptop:w-[145.34px] laptop:h-[207.97px] laptop:rounded-[12.14px] tablet:w-[153.55px] tablet:h-[175px] tablet:rounded-[12.41px] mobile:w-[283.46px] mobile:h-[405.62px] mobile:rounded-[23.67px];
  }
  .containerIsWeeklyTrendiesCard {
    @apply rounded-[23.48px] containerDesktopTrendiesCard  containerLaptopTrendiesCard containerTabletTrendiesCard containerMobileTrendiesCard;
  }
  .containerDefaultTrendiesCard {
    @apply rounded-[23.48px] containerDesktopTrendiesCard  containerLaptopTrendiesCard containerTabletTrendiesCard mobile:w-[283.46px] mobile:h-[405.62px];
  }
  .containerDesktopTrendiesCard {
    @apply desktop:w-[281.13px] desktop:h-[402.28px];
  }
  .containerLaptopTrendiesCard {
    @apply laptop:w-[281.13px] laptop:h-[402.28px];
  }
  .containerTabletTrendiesCard {
    @apply tablet:w-[199.93px] tablet:h-[286.1px];
  }
  .containerMobileTrendiesCard {
    @apply mobile:w-[198.49px] mobile:h-[250.04px];
  }
  /* Image of card trends*/
  .imgCardSizeForCreatorList {
    @apply desktop:h-[164.37px] desktop:w-[187.99px] desktop:rounded-[11.63px] laptop:h-[130.74px] laptop:w-[130.74px] laptop:rounded-[12.14px]  tablet:h-[100px] tablet:w-[93px] tablet:rounded-[8.27px] mobile:w-[254.99px] mobile:h-[254.99px] mobile:rounded-[23.67px];
  }
  .imgCardSizeByDefault {
    @apply imgCardDesktop imgCardLaptop imgCardTablet mobile:w-[250px] mobile:h-[250px] mobile:rounded-[16.58px];
  }
  .imgCardSizeByWeekly {
    @apply imgCardDesktop imgCardLaptop imgCardTablet imgCardMobile;
  }
  .imgCardDesktop {
    @apply desktop:w-[252.9px] desktop:h-[252.9px] desktop:rounded-[23.48px];
  }
  .imgCardLaptop {
    @apply laptop:w-[256px] laptop:h-[256px] laptop:rounded-[23.48px];
  }
  .imgCardTablet {
    @apply tablet:w-[179.86px] tablet:h-[179.86px] tablet:rounded-[16.7px];
  }
  .imgCardMobile {
    @apply mobile:w-[150px] mobile:h-[150px] mobile:rounded-[16.58px];
  }
  /* logoImg */
  .sizeDesktopImgLogo {
    @apply w-[53px] h-[53px];
  }

  .sizeTabletImgLogo {
    @apply tablet:w-[37.69px] tablet:h-[37.69px];
  }

  .sizeMobileImgLogo {
    @apply mobile:static;
  }

  /* btnWallet */
  .sizeDesktopBtnSpanWallet {
    @apply font-inter font-semibold w-[152px] h-[25px] leading-[24.26px] text-[16.17px];
  }

  .sizeTabletBtnSpanWallet {
    @apply font-inter font-semibold  tablet:w-[108px] tablet:h-[18px] flex justify-center items-center	 tablet:text-[10.5px]  tablet:leading-[17.25px];
  }

  .sizeMobileBtnSpanWallet {
    @apply font-inter font-semibold  mobile:w-[213px] mobile:h-[18px] flex justify-center items-center	 mobile:text-[16px]  mobile:leading-[17.25px];
  }

  .sizeDesktopBtnWallet {
    @apply w-[199.52px] h-[57.34px] rounded-[16.17px];
  }

  .sizeTabletBtnWallet {
    @apply tablet:w-[148px] tablet:h-[41px]  tablet:rounded-[11.5px];
  }

  .sizeMobileBtnWallet {
    @apply font-inter font-semibold mobile:mt-2 mobile:w-[76%] mobile:flex mobile:justify-center mobile:items-center;
  }

  /* search loupe */
  .sizeDesktopLoupeImg {
    @apply left-[1.25rem] w-[21.51px] h-[21.51px] top-4;
  }

  .sizeTabletLoupeImg {
    @apply tablet:left-3 tablet:w-[15.3px] tablet:h-[15.3px] tablet:top-3;
  }

  .sizeMobileLoupeImg {
    @apply mobile:left-[1.40rem] mobile:w-[15.3px] mobile:h-[15.3px] mobile:top-[1.30rem];
  }

  /* search input */
  .sizeDesktopSearchInput {
    @apply bg-[#EDEDED] left-11 leading-[18.46px]  pl-[3.5rem] w-[348.45px] h-[57px] rounded-lg   font-medium text-[15.71px];
  }

  .sizeTabletSearchInput {
    @apply tablet:leading-[13.13px] tablet:pl-[2.3rem] tablet:w-[247.81px] tablet:h-[40.54px] tablet:rounded-lg   tablet:font-medium tablet:text-[10.17px];
  }

  .sizeMobileSearchInput {
    @apply mobile:left-[-7px] mobile:pl-[3.5rem] mobile:w-full;
  }

  /* navList */
  .sizeDesktopNavItem {
    @apply font-medium text-[17.83px]	leading-[26.74px];
  }

  .sizeTabletNavItem {
    @apply tablet:font-medium tablet:text-[12.68px]	tablet:leading-[19.02px];
  }

  .sizeMobileNavItem {
    @apply tablet:font-medium mobile:mt-2 mobile:mb-2;
  }
  /* Size for HR */
  .sizeLaptopHr {
    @apply laptop:w-[195px];
  }

  .sizeTabletHr {
    @apply tablet:w-[138.68px];
  }

  .sizeMobileHr {
    @apply mobile:w-[33.29px];
  }

  /* NFT Title */
  .sizeLaptopTitleNft {
    @apply laptop:text-[75px] laptop:leading-[90px] laptop:tracking-[-3px];
  }

  .sizeTabletTitleNft {
    @apply tablet:text-[53.34px] tablet:leading-[64.01px] tablet:tracking-[-2.13px];
  }

  .sizeMobileTitleNft {
    @apply mobile:text-[47.4px] mobile:leading-[56.88px] mobile:tracking-[-1.9px] mobile:text-center;
  }

  /* NFT Subtitle */
  .sizeDesktopSubtitleNft {
    @apply desktop:w-[499px]  desktop:leading-[28px] desktop:text-[18px];
  }
  .sizeLaptopSubtitleNft {
    @apply laptop:w-[499px]  laptop:leading-[28px] laptop:text-[18px];
  }

  .sizeTabletSubtitleNft {
    @apply tablet:w-[354.88px]  tablet:leading-[19.91px] tablet:text-[12.8px];
  }

  .sizeMobileSubtitleNft {
    @apply mobile:w-[315.36px]  mobile:leading-[17.7px] mobile:text-[11.38px];
  }

  /* NFT Btns */
  .sizeLaptopNftBtn {
    @apply laptop:rounded-[12.41px] laptop:border-[1.5px] laptop:w-[138px] laptop:h-[60px];
  }

  .sizeTabletNftBtn {
    @apply tablet:w-[98.14px] tablet:h-[42.67px] tablet:rounded-[8.83px];
  }
  .sizeDesktopExploreBtn {
    @apply desktop:w-[165px] desktop:h-[60px];
  }
  .sizeLaptopExploreBtn {
    @apply laptop:w-[179px] laptop:h-[60px];
  }

  .sizeTabletExploreBtn {
    @apply tablet:w-[127.3px] tablet:h-[42.67px];
  }

  /* NFT Btns */
  .nftButtonsPositions {
    @apply mobile:w-full mobile:mt-[1rem] tablet:w-[241.8px] tablet:mt-[1.5rem]  laptop:w-[350px] laptop:mt-[2rem]  desktop:w-[320px] desktop:mt-[2rem];
  }
  /* NFT Btns text */
  .sizeDesktopTextNftBtns {
    @apply desktop:text-[16.27px] desktop:leading-[24.41px] pr-3 pl-3;
  }
  .sizeLaptopTextNftBtns {
    @apply laptop:text-[16.27px] laptop:leading-[24.41px];
  }

  .sizeTabletTextNftBtns {
    @apply tablet:text-[11.57px] tablet:leading-[17.36px];
  }

  /* Title of statistic NFT */
  .sizeDesktopItemTitle {
    @apply desktop:leading-[45.96px] desktop:text-[36.77px];
  }
  .sizeLaptopItemTitle {
    @apply laptop:leading-[45.96px] laptop:text-[36.77px];
  }

  .sizeTabletItemTitle {
    @apply tablet:text-[26.15px] tablet:text-center tablet:leading-[32.69px];
  }

  .sizeDesktopItemSubtitle {
    @apply desktop:leading-[18.39px] desktop:text-[12.26px];
  }
  .sizeLaptopItemSubtitle {
    @apply laptop:leading-[18.39px] laptop:text-[12.26px];
  }

  .sizeTabletItemSubtitle {
    @apply tablet:leading-[13.08px] tablet:text-[8.72px];
  }
  .stonesDesktop {
    @apply desktop:w-full  desktop:h-[418.5px];
  }

  .stonesLaptop {
    @apply laptop:w-[362px]  laptop:h-[418.5px];
  }

  .stonesTablet {
    @apply laptop:w-[362px]  laptop:h-[418.5px];
  }

  /* arrow */
  .arrowDesktop {
    @apply desktop:w-[80%] desktop:h-[124.22px] desktop:pr-[3.25rem];
  }

  .arrowLaptop {
    @apply laptop:w-[80px] laptop:h-[124.22px] laptop:pr-5;
  }

  .arrowTablet {
    @apply tablet:h-[58.34px] tablet:w-[51.59px] tablet:pr-3;
  }

  .arrowMobile {
    @apply mobile:h-[56.71px] mobile:w-[58.79px];
  }

  /* orangeCircle */
  .orangeCircleDesktop {
    @apply desktop:w-[280.48px] desktop:h-[343px];
  }

  .orangeCircleLaptop {
    @apply laptop:w-[200.48px] laptop:h-[239px];
  }

  /* netting */
  .nettingDesktop {
    @apply desktop:w-[170px] desktop:h-[200px];
  }

  .nettingLaptop {
    @apply laptop:w-[80px] laptop:h-[127.22px];
  }

  .nettingMobile {
    @apply mobile:w-[72.25px] mobile:h-[102.5px];
  }

  /* buttons */
  .containerButtonsDesktop {
    @apply desktop:w-[166px] desktop:h-[68.99px];
  }
  .containerButtonsLaptop {
    @apply laptop:w-[166px] laptop:h-[68.99px];
  }

  .containerButtonsTablet {
    @apply tablet:w-[130px] tablet:h-[49.06px] tablet:mb-5;
  }

  .containerButtonsMobile {
    @apply mobile:w-[118.06px] mobile:h-[49.06px] mobile:mb-5;
  }
  .stonesDesktop {
    @apply desktop:w-full desktop:h-[418.5px];
  }

  .stonesLaptop {
    @apply laptop:w-[362px] laptop:h-[418.5px];
  }

  .stonesTablet {
    @apply tablet:w-[362px] tablet:h-[418.5px];
  }

  /* arrow */
  .arrowDesktop {
    @apply desktop:w-[80%] desktop:h-[124.22px] desktop:pr-[3.25rem];
  }

  .arrowLaptop {
    @apply laptop:w-[80px] laptop:h-[124.22px] laptop:pr-5;
  }

  .arrowTablet {
    @apply tablet:h-[58.34px] tablet:w-[51.59px] tablet:pr-3;
  }

  .arrowMobile {
    @apply mobile:h-[56.71px] mobile:w-[58.79px];
  }

  /* orangeCircle */

  .orangeCircleTablet {
    @apply tablet:w-[180.48px] tablet:h-[250px];
  }

  /* netting */
  .nettingDesktop {
    @apply desktop:w-[170px] desktop:h-[200px];
  }

  .nettingLaptop {
    @apply laptop:w-[80px] laptop:h-[127.22px];
  }

  .nettingTablet {
    @apply tablet:w-[65.04px] tablet:h-[100px];
  }

  .nettingMobile {
    @apply mobile:w-[72.25px] mobile:h-[102.5px];
  }
}

@tailwind utilities;

@layer utilities {
  .shadow-cardTrend {
    --shadow-x: 38.82px;
    --shadow-y: 11.76px;
    --shadow-blur: 58.81px;
    --shadow-spread: 0px;
    --shadow-color: #c7c7c7;
    --shadow-opacity: 0.6;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(199, 199, 199, var(--shadow-opacity)));
  }
  .shadow-switchBtn {
    --shadow-x: 0px;
    --shadow-y: 43.12px;
    --shadow-blur: 34.49px;
    --shadow-spread: -25.87px;
    --shadow-color: #0f0f0f;
    --shadow-opacity: 0.12;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(15, 15, 15, var(--shadow-opacity)));
  }
  .shadow-cardTime {
    --shadow-x: 0px;
    --shadow-y: 4.71px;
    --shadow-blur: 14.12px;
    --shadow-spread: 0px;
    --shadow-color: #1c1d20;
    --shadow-opacity: 0.08;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
      var(--shadow-spread)
      var(--shadow-color, rgba(28, 29, 32, var(--shadow-opacity)));
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
